.preloader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 15;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    animation-name: vanish;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.loader{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #fff;
    border-radius: 50%;
    border-top-color:blue;
    animation: load 2s 2;
}
/*$0.done{
    opacity: 0;
    visibility: hidden;
 }*/
@keyframes load{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes vanish{
    0%{
        visibility: visible;
    }
    
    100%{
        visibility: hidden;
    }
}
body {
    font-family: Arial, sans-serif;
}
header{
    background-color: rgba(4, 11, 30, 1);
    width: 100%;
    height: 60px;
    float: left;
    position: sticky;
    top: 0;
}
.ns_logo{
    float: left;
    line-height: 60px;
    color: aliceblue;
    font-size: 25px;
    margin-left: 50px;
    animation: logo 2s;
}
@keyframes logo{
    0%{
        position: relative;
        right: 300px;
        opacity: 0;
    }
    100%{
        position: relative;
        right: 0px;
        opacity: 1;
    }
}
.menu {
    line-height: 60px;
    margin-left: 650px;
    float: left;
}
.menu a{
    color: aliceblue;
}
.menu li {
    float: left;
    font-size: 20px;
    margin: 0px 15px;
    opacity: 0;
    -webkit-animation: main 0.5s;
    -o-animation: main 0.5s;
     animation: main 0.5s forwards;
}
.main {
    height: 600px;
    width: 100%;
    background-image: url(../img/programmer.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    float: left;
    box-shadow: 1px 1px 30px #000 inset;
}
.menu li a:hover{
    color: rgba(39, 124, 209, 1);
}
.menu li:nth-child(2){
    animation-delay: 0.5s;
}
.menu li:nth-child(3){
    animation-delay: 1s;
}
.menu li:nth-child(4){
    animation-delay: 1.5s;
}
.menu li:nth-child(5){
    animation-delay: 2s;
}
.menu li:nth-child(6){
    animation-delay: 2.5s;
}
@keyframes main{
    0%{
        position: relative;
        bottom: 100px;
        opacity: 0;
    }
    100%{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
}
.header_text {
    float: left;
    text-align: center;
    margin: 250px 0px 0px 210px;
    animation: headtxt 2s;
}
@keyframes headtxt {
    0%{
        position: relative;
        right: 700px;
    }
    100%{
        position: relative;
        right: 0px;
    }
}
.heading1 {
    font-size: 30px;
    color: rgba(159, 205, 220, 1);
    text-shadow: 1px 1px 50px #000;
    -webkit-text-stroke: 0.3px #000;
    -o-text-stroke: 0.3px #000;
    text-stroke: 0.3px #000;
}
.subtitle {
    line-height: 50px;
    color: dimgray;
    opacity: 0.5;
    z-index: 0;
}
.button {
    word-spacing: 20px;
}
.button input {
    border: 2px solid #000;
    color: rgba(149, 197, 211, 1);
    padding: 2px 10px;
    -webkit-text-stroke: 0.1px #000;
}
.button input:hover {
    color: black;
    background-color: rgba(149, 197, 211, 1);
}
.summary {
    height: 600px;
    width: 100%;
    float: left;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(39, 124, 209, 1) 33%, rgba(84, 200, 243, 1) 66%, rgba(255, 255, 255, 1) 100%);
}
.summary div {
    text-align: center;
}
.heading2 {
    margin-top: 100px;
    font-size: 20px;
    color: aliceblue;
}
.img_face {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 45%;
    margin-top: 20px;
}
.about_me {
    margin-top: 20px;
    font-size: 15px;
    color: rgba(4, 11, 30, 1);
}
.summary input {
    margin-top: 30px;
    border: 1px solid #000;
    color: #000;
    font-size: 15px;
    padding: 2px 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.summary input:hover{
    color: rgba(149, 197, 211, 1);
    background-color: rgba(39, 124, 209, 1);
}
.skills {
    text-align: center;
    float: left;
    width: 100%;
    height: 400px;
}
.heading3 {
    font-size: 20px;
    margin-top: 20px;
}
.skills1234>div {
    float: left;
    margin: 100px 0px 0px 100px;
    line-height: 20px;
    height: 180px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(84, 200, 243, 1);
}
.veb_design{
    transition: 0.5s;
}
.veb_design:hover{
    transform:perspective(400px) scaleZ(-1.5) translateZ(-50px);
}
.development{
    transition: 0.5s;
}
.development:hover{
    transform:perspective(400px) scaleZ(-1.5) translateZ(-50px);
}
.CEO{
    transition: 0.5s;
}
.CEO:hover{
    transform:perspective(400px) scaleZ(-1.5) translateZ(-50px);
}
.marketing{
    transition: 0.5s;
}
.marketing:hover{
    transform:perspective(400px) scaleZ(-1.5) translateZ(-50px);
}
.subtitle_veb {
    font-size: 17px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.text_veb {
    margin-top: 20px;
    font-size: 13px;
}
.skills1234 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.cases {
    text-align: center;
    float: left;
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(39, 124, 209, 0.5) 15%, rgba(0, 184, 201, 1) 30%, rgba(0, 234, 125, 1) 50%, rgba(0, 184, 201, 1) 70%, rgba(39, 124, 209, 0.5) 85%, rgba(255, 255, 255, 1) 100%);
}
.name_project {
    float: left;
    line-height: 17px;
    margin-top: 20px;
    margin-left: 20px;
}
.name_p {
    font-size: 17px;
}
.project_description{
    margin-top: 20px;
}
.website_company {
    margin-top: 8px;
}
.cases img {
    height: 400px;
    width: 650px;
    margin-top: 20px;
}
.all_about_company {
    float: left;
    margin-left: 432px;
    line-height: 20px;
    text-align: start;
    margin-top: 20px;
}
.heading4 {
    font-size: 20px;
    margin-top: 20px;
}
.subtatle_cases {
    font-size: 15px;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.visi_live_site {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.visi_live_site input {
    margin-right: 550px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.calculator {
    height: 400px;
    width: 100%;
    float:left;
    text-align: center;
}
.heading5 {
    font-size: 25px;
    margin-top: 20px;
}
.select {
    margin-top: 50px;
    border: 1px solid rgba(39, 124, 209, 1);
    box-shadow: 1px 1px 30px rgba(84, 200, 243, 1) inset;
    line-height: 30px;
    width: 20%;
    margin-left: 610px;
    
}
.total div {
    margin-top: 20px;
    line-height: 30px;
    text-align: start;
    margin-left: 610px;
    border-bottom: 1px solid #000;
    width: 300px;
}
.statistics {
    float: left;
    width: 100%;
    border: 1px solid #000;
    background-image: url(../img/statistics.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}
.statistics1 {
    transition: 0.8s;
}
.statistics1:hover {
    transform:perspective(400px) rotateX(30deg);
}
.statistics2 {
    transition: 0.8s;
}
.statistics2:hover {
    transform:perspective(400px) rotateX(30deg);
}
.statistics3 {
    transition: 0.8s;
}
.statistics3:hover {
    transform:perspective(400px) rotateX(30deg);
}
.statistics4 {
    transition: 0.8s;
}
.statistics4:hover {
    transform:perspective(400px) rotateX(30deg);
}
.heading6 {
    text-align: center;
    margin-top: 18px;
    font-size: 25px;
    -webkit-text-stroke: 0.1px #000;
    color: aliceblue;
}
.statiatics_img>div{
    float: left;
    text-align: center;
    margin: 200px 0px 0px 170px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 120px;
    width: 170px;
}
.statiatics_img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*opacity: 0.5;*/
}
.statiatics_img {
    border: 1px solid #000;
    height: 555px;
}
.reviews {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 30px;
}
.reviws_about_site {
    font-size: 20px;
    text-transform: uppercase;
}
.reviews img {
    margin-top: 20px;
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 40px #000;
}
.contacts {
    text-align: center;
    margin-top: 40px;
    float:left;
    width: 100%;
}
.cap {
    line-height: 20px;
    width: 400px;
    margin-left: 550px;
    border-top: 1px solid #000;
    box-shadow: 0px 0px 5px #000;
}
.heading7{
    font-size: 20px;
}
.my_contacts>div {
    float: left;
    border: 1px solid #000;
    margin-left: 245px;
    border-radius: 10%;
    height: 80px;
    width: 180px;
}
.contacts img {
    height: 50px;
    width: 50px;
}
.contacts>img {
    display: none;
}
.my_contacts {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.massage {
    float:left;
    border: 1px solid #000;
    margin-left: 600px;
    margin-top: 30px;
    line-height: 30px;
}
.massage input {
    border: 1px solid #000;
    transform: scaleZ(1);
    transition: all 0.5;
}
.massage input:active{
    color: white;
    background-color: black;
    transform:perspective(400px) scaleZ(-1.1) translateZ(-50px);
}
.map {
    width: 100%;
    float: left;
    margin-top: 30px;
    height: 160px;
    overflow: hidden;
}
.map img {
    width: 100%;
}
.Copyright {
    text-align: center;
    letter-spacing: 0.5px;
    color: dimgray;
}